/shared/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/shared/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/shared/target/maven-archiver/pom.properties
/shared/target/shared-1.0-SNAPSHOT.jar

# Ignore design tool backups or temporary files
*.bak
*.tmp
*.autosave

# Maven target directories
**/target/

# Maven wrapper files
.mvn/
mvnw
mvnw.cmd

# Docker-related files
server/src/main/docker/

# IDE-specific files (optional, if IntelliJ IDEA files are unversioned)
*.iml
.idea/